.dotPatternLight {
  background-image: radial-gradient(circle, rgb(212 212 212) 1px, transparent 1px);
  background-size: 16px 16px;
}

.dotPatternDark {
  background-image: radial-gradient(circle, rgb(38 38 38) 1px, transparent 1px);
  background-size: 16px 16px;
}

.dotPatternAccent {
  background-image: radial-gradient(circle, rgb(99 102 241) 1px, transparent 1px);
  background-size: 16px 16px;
}

.highlight {
  background-repeat: no-repeat;
  background-position: left center;
  display: inline;
}
